# Fichiers d'environnement
.env

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers générés
*.pdf
# Ne PAS ignorer le contenu du dossier static/pdf/
!static/pdf/

# .gitignore
venv/

stats.db